<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="usernamemixedEP" value="https://adfs.contoso.com/adfs/services/trust/13/usernamemixed"/>
		<add key="usernamemixedAppliesTo" value="https://Test.com/"/>
		<!-- You can enable any of the following issuedToken based ADFS endpoints. -->
		<!-- https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedsymmetricbasic256 -->
		<!-- https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedsymmetricbasic256sha256 -->
		<!-- https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedasymmetricbasic256 -->
		<!-- https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedasymmetricbasic256sha256 -->
		<add key="issuedtokenEP" value="https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedsymmetricbasic256sha256"/>
		<add key="issuedtokenAppliesTo" value="https://test1.com/"/>
		<!-- Set false if SAML 2.0 Assertion expected. Otherwise, let it be true. -->
		<add key="saml10TokenType" value="false"/>
		<add key="username" value="JohnAdmin@contoso.com"/>
		<add key="password" value="Password01!"/>
		<add key="serviceEpAddress" value="https://aadconnect.contoso.com/Issuedtokenmixedasymmetricbasic256WcfService1/Service1.svc"/>
	</appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IService1" />
   </basicHttpBinding>
   <customBinding>
    <binding name="WS2007FederationHttpBinding_IService1">
     <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
      requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10"
      canRenewSecurityContextToken="true">
      <secureConversationBootstrap defaultAlgorithmSuite="Default"
       authenticationMode="IssuedTokenOverTransport" requireDerivedKeys="true"
       includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
       <issuedTokenParameters keyType="BearerKey">
        <additionalRequestParameters>
         <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
          <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
          <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
          <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
         </trust:SecondaryParameters>
        </additionalRequestParameters>
        <issuer address="https://adfs.contoso.com/adfs/services/trust/2005/certificatemixed"
         binding="wsHttpBinding" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/2005/certificatemixed" />
        <issuerMetadata address="https://adfs.contoso.com/adfs/services/trust/mex" />
       </issuedTokenParameters>
       <!--<alternativeIssuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/2005/usernamemixed" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/2005/usernamemixed" binding="wsHttpBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/2005/kerberosmixed" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/2005/kerberosmixed" binding="customBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/2005/issuedtokenmixedasymmetricbasic256" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/2005/issuedtokenmixedasymmetricbasic256" binding="customBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/2005/issuedtokenmixedsymmetricbasic256" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/2005/issuedtokenmixedsymmetricbasic256" binding="customBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/13/kerberosmixed" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/13/kerberosmixed" binding="customBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/13/certificatemixed" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/13/certificatemixed" binding="ws2007HttpBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/13/usernamemixed" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/13/usernamemixed" binding="ws2007HttpBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedasymmetricbasic256" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedasymmetricbasic256" binding="customBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedsymmetricbasic256" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedsymmetricbasic256" binding="customBinding" />
  </issuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://adfs.contoso.com/adfs/services/trust/13/windowstransport" bindingConfiguration="https://adfs.contoso.com/adfs/services/trust/13/windowstransport" binding="wsHttpBinding">
      <identity>
        <servicePrincipalName value="host/adfs.contoso.com" />
      </identity>
    </issuer>
  </issuedTokenParameters>
</alternativeIssuedTokenParameters>-->
       <localClientSettings detectReplays="false" />
       <localServiceSettings detectReplays="false" />
      </secureConversationBootstrap>
      <localClientSettings detectReplays="false" />
      <localServiceSettings detectReplays="false" />
     </security>
     <textMessageEncoding />
     <httpsTransport />
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/2005/kerberosmixed">
     <security defaultAlgorithmSuite="Basic128" authenticationMode="KerberosOverTransport"
      requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
      <localClientSettings detectReplays="false" />
      <localServiceSettings detectReplays="false" />
     </security>
     <textMessageEncoding />
     <httpsTransport />
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/2005/issuedtokenmixedasymmetricbasic256">
     <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
      requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
      <issuedTokenParameters keyType="AsymmetricKey">
       <additionalRequestParameters>
        <t:EncryptWith xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</t:EncryptWith>
        <t:SignatureAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2000/09/xmldsig#rsa-sha1</t:SignatureAlgorithm>
        <t:CanonicalizationAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/10/xml-exc-c14n#</t:CanonicalizationAlgorithm>
        <t:EncryptionAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/04/xmlenc#aes256-cbc</t:EncryptionAlgorithm>
       </additionalRequestParameters>
      </issuedTokenParameters>
      <localClientSettings detectReplays="false" />
      <localServiceSettings detectReplays="false" />
     </security>
     <textMessageEncoding />
     <httpsTransport />
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/2005/issuedtokenmixedsymmetricbasic256">
     <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
      requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
      <issuedTokenParameters keySize="256">
       <additionalRequestParameters>
        <t:EncryptWith xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/04/xmlenc#aes256-cbc</t:EncryptWith>
        <t:SignatureAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2000/09/xmldsig#hmac-sha1</t:SignatureAlgorithm>
        <t:CanonicalizationAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/10/xml-exc-c14n#</t:CanonicalizationAlgorithm>
        <t:EncryptionAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/04/xmlenc#aes256-cbc</t:EncryptionAlgorithm>
       </additionalRequestParameters>
      </issuedTokenParameters>
      <localClientSettings detectReplays="false" />
      <localServiceSettings detectReplays="false" />
     </security>
     <textMessageEncoding />
     <httpsTransport />
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/13/kerberosmixed">
     <security defaultAlgorithmSuite="Basic128" authenticationMode="KerberosOverTransport"
      requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
      <localClientSettings detectReplays="false" />
      <localServiceSettings detectReplays="false" />
     </security>
     <textMessageEncoding />
     <httpsTransport />
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedasymmetricbasic256">
     <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
      requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
      <issuedTokenParameters keyType="AsymmetricKey">
       <additionalRequestParameters>
        <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
         <trust:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/PublicKey</trust:KeyType>
         <trust:KeyWrapAlgorithm>http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:KeyWrapAlgorithm>
         <trust:EncryptWith>http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:EncryptWith>
         <trust:SignatureAlgorithm>http://www.w3.org/2000/09/xmldsig#rsa-sha1</trust:SignatureAlgorithm>
         <trust:CanonicalizationAlgorithm>http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
         <trust:EncryptionAlgorithm>http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
        </trust:SecondaryParameters>
       </additionalRequestParameters>
      </issuedTokenParameters>
      <localClientSettings detectReplays="false" />
      <localServiceSettings detectReplays="false" />
     </security>
     <textMessageEncoding />
     <httpsTransport />
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/13/issuedtokenmixedsymmetricbasic256">
     <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
      requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
      <issuedTokenParameters keySize="256">
       <additionalRequestParameters>
        <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
         <trust:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
         <trust:KeySize>256</trust:KeySize>
         <trust:KeyWrapAlgorithm>http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:KeyWrapAlgorithm>
         <trust:EncryptWith>http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptWith>
         <trust:SignatureAlgorithm>http://www.w3.org/2000/09/xmldsig#hmac-sha1</trust:SignatureAlgorithm>
         <trust:CanonicalizationAlgorithm>http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
         <trust:EncryptionAlgorithm>http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
        </trust:SecondaryParameters>
       </additionalRequestParameters>
      </issuedTokenParameters>
      <localClientSettings detectReplays="false" />
      <localServiceSettings detectReplays="false" />
     </security>
     <textMessageEncoding />
     <httpsTransport />
    </binding>
   </customBinding>
   <wsHttpBinding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/2005/certificatemixed">
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="None" />
      <message clientCredentialType="Certificate" establishSecurityContext="false" />
     </security>
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/2005/usernamemixed">
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="None" />
      <message clientCredentialType="UserName" establishSecurityContext="false" />
     </security>
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/13/windowstransport">
     <security mode="Transport" />
    </binding>
   </wsHttpBinding>
   <ws2007HttpBinding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/13/certificatemixed">
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="None" />
      <message clientCredentialType="Certificate" establishSecurityContext="false" />
     </security>
    </binding>
    <binding name="https://adfs.contoso.com/adfs/services/trust/13/usernamemixed">
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="None" />
      <message clientCredentialType="UserName" establishSecurityContext="false" />
     </security>
    </binding>
   </ws2007HttpBinding>
  </bindings>
  <client>
   <endpoint address="http://aadconnect.contoso.com/Issuedtokenmixedasymmetricbasic256WcfService1/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
    contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
   <endpoint address="https://aadconnect.contoso.com/Issuedtokenmixedasymmetricbasic256WcfService1/Service1.svc"
    binding="customBinding" bindingConfiguration="WS2007FederationHttpBinding_IService1"
    contract="ServiceReference1.IService1" name="WS2007FederationHttpBinding_IService1" />
  </client>
 </system.serviceModel>
</configuration>